body {
	color: #000501;
	font-family: 'Open Sans', sans-serif;
}
header {
	background-color: #009688 !important;
}

p {
    word-break: break-word;
}

.is-active {
	font-weight: bold;
	opacity: 1;
}

.text-center {
	text-align: center;
}

.padding {
	padding-left: 15px;
	padding-right: 15px;
}

.drawer-option {
	padding: 15px;
}

.drawer-option.logout-container{
	position: absolute;
    bottom: 0;
    width: 205px;
    text-align: center;
}

.drawer-option button {
	width: 100%;
}

.mdl-list__item-primary-content {
	padding-left: 15px;
}

.floating-button {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 30px;
}

img {
	width: 100%;
}

.hide {
	display: none;
}

@media(min-width: 1000px) {
	img {
		width: 550px;
	}
}
.turn-on-notifications {
	display: none;
}